:root {
  --vs-colors--lightest: rgba(60, 60, 60, 0.26);
  --vs-colors--light: rgba(60, 60, 60, 0.5);
  --vs-colors--dark: #333;
  --vs-colors--darkest: rgba(0, 0, 0, 0.15);
  --vs-search-input-color: inherit;
  --vs-search-input-placeholder-color: inherit;
  --vs-font-size: 1rem;
  --vs-line-height: 1.4;
  --vs-state-disabled-bg: rgb(248, 248, 248);
  --vs-state-disabled-color: var(--vs-colors--light);
  --vs-state-disabled-controls-color: var(--vs-colors--light);
  --vs-state-disabled-cursor: not-allowed;
  --vs-border-color: var(--vs-colors--lightest);
  --vs-border-width: 1px;
  --vs-border-style: solid;
  --vs-border-radius: 4px;
  --vs-actions-padding: 4px 6px 0 3px;
  --vs-controls-color: var(--vs-colors--light);
  --vs-controls-size: 1;
  --vs-controls--deselect-text-shadow: 0 1px 0 #fff;
  --vs-selected-bg: #f0f0f0;
  --vs-selected-color: var(--vs-colors--dark);
  --vs-selected-border-color: var(--vs-border-color);
  --vs-selected-border-style: var(--vs-border-style);
  --vs-selected-border-width: var(--vs-border-width);
  --vs-dropdown-bg: #fff;
  --vs-dropdown-color: inherit;
  --vs-dropdown-z-index: 1000;
  --vs-dropdown-min-width: 160px;
  --vs-dropdown-max-height: 350px;
  --vs-dropdown-box-shadow: 0px 3px 6px 0px var(--vs-colors--darkest);
  --vs-dropdown-option-bg: #000;
  --vs-dropdown-option-color: var(--vs-dropdown-color);
  --vs-dropdown-option-padding: 3px 20px;

  /* Couleurs remplacées pour s'aligner sur #1E3B8B */
  --vs-dropdown-option--active-bg: #1E3B8B; /* Couleur primaire pour l'item survolé */
  --vs-dropdown-option--active-color: #fff; /* Couleur du texte sur l'item survolé */

  --vs-dropdown-option--deselect-bg: #e3f2fd; /* Bleu clair dérivé */
  --vs-dropdown-option--deselect-color: #1E3B8B;
  --vs-transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
  --vs-transition-duration: 0.15s;
}

.vs__dropdown-option--highlight {
  background: var(--vs-dropdown-option--active-bg); /* Couleur primaire */
  color: var(--vs-dropdown-option--active-color);
}

/* Styles personnalisés pour les éléments de formulaire */
.v-select input:focus {
  outline: none !important;
  border: none !important;
}

.v-select .vs__dropdown-toggle {
  border: 1px solid #e5e7eb !important; /* Tailwind's border-gray-300 */
  border-radius: 0.5rem !important; /* Tailwind's rounded-lg */
  height: 2.5rem !important; /* Ajustez la hauteur pour correspondre à l'input Tailwind */
}

/* Modification de la couleur de la bordure au focus pour correspondre à la couleur primaire */
.v-select:focus-within .vs__dropdown-toggle {
  border: 1px solid #1E3B8B !important;
  outline: none !important;
}

.v-select .vs__dropdown-divider {
  width: 100%;
  border-top: 1px solid var(--vs-border-color); /* Style du divider */
  margin: 0; /* Supprimez les marges si nécessaire */
}
